<div class="card">
    <div class="card-body">
    <h5 class="card-title">{{ pump.model }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ pump.serialnumber }}</h6>
    <p class="card-text">Shipment: {{ pump.shipmentBatch }}</p>
    
    
    <p> Baseplate: {{ pump.baseplate.dimension_A }} x {{ pump.baseplate.dimension_B }} x {{ pump.baseplate.dimension_C }} - {{ pump.baseplate.unit }}</p>
    <p>
        <ul>
            <li> Can Shaft be turned by hand? - {{ pump.qualitycheck.canShaftBeTurnedByHand }}</li>
            <li> Is the yellow cover installed? - {{ pump.qualitycheck.isTheYellowShaftCoverInstalle }}</li>
            <li> Is the wire mesh provided? - {{ pump.qualitycheck.isTheWireMeshProvided }}</li>
            <li> Is the inlet & outlet cover installed?  - {{ pump.qualitycheck.inletCover }}</li>
            <li> Is the catalog attached to the pump? - {{ pump.qualitycheck.catalogProvided }}</li>
        </ul>
    </p>
    <button class="edit-pump-button" data-id = "{{ pump.id }}" id = "edit-pump-{{ pump.id }}-button">Edit</button>
    <a href="{% url 'deletepump' pump.id %}" class="card-link"><button>Delete</button></a>
    </div>
</div>